body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* styling the wrapper */
.accordionWrapper {
  padding: 30px;
  background: #fff;
  width: 60%;
  box-sizing: border-box;
  margin: 0 auto;
}

.accordionItem {
  float: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open-sans", Arial, sans-serif;
  text-align: center;
}
.accordionItemHeading {
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  background: rgb(138, 204, 62);
  color: #fff;
  width: 100%;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  box-sizing: border-box;
}
.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  float: left;
  display: block;
}
/* styling the open class */
.open .accordionItemContent {
  color: rgb(138, 204, 62);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2rem;
  width: 100%;
  margin: 0px 0px 10px 0px;
  display: block;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}
.open .accordionItemHeading {
  margin: 0;
  background-color: #479a1a;
  border-radius: 2rem;
  color: #fff;
  content: "\2212";
}
.img-accord {
  width: 100%;
}
